esphome:
  name: c6-test
  friendly_name: c6 test
  on_boot: 
    then:
      # If you want to implement deep_sleep, uncomment the following line
      # - script.execute: deep_sleep_evaluation

esp32:
  board: esp32-c6-devkitc-1
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "gbshGw71O1RK28tHXogbVgpXOtvzwCLx49C8xrHSB1g="

ota:
  - platform: esphome
    password: "3bbb2990a38a94f28deb75aea97a0c07"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "C6-Test Fallback Hotspot"
    password: "9xtV1NKopkD2"

captive_portal:

# This is a "toggle" type input_boolean helper, created from the Home Assistant "settings" menu.
# When this binary sensor is "on" the deep sleep will be disabled.
# Be sure to enable deep sleep functionality AFTER you have configured the device on Home Assistant, otherwise this binary sensor state will not be read.
binary_sensor:
  - platform: homeassistant
    id: disable_deep_sleep
    entity_id: input_boolean.disable_deep_sleep

i2c:
  sda: 6
  scl: 7
  scan: True
  id: bus_a

sensor:
#   - platform: bmi160
#     address: 0x68
#     i2c_id: bus_a
#     update_interval: 10s
#     acceleration_x:
#       name: "BMI160 Accel X"
#     acceleration_y:
#       name: "BMI160 Accel Y"
#     acceleration_z:
#       name: "BMI160 Accel z"
#     gyroscope_x:
#       name: "BMI160 Gyro X"
#     gyroscope_y:
#       name: "BMI160 Gyro Y"
#     gyroscope_z:
#       name: "BMI160 Gyro z"
#     temperature:
#       name: "BMI160 Temperature"

  - platform: max17043
    id: max17043_id
    battery_voltage:
      name: "Battery Voltage"
    battery_level:
      name: "Battery"
  
light:
  - platform: esp32_rmt_led_strip
    rgb_order: GRB
    pin: 15
    num_leds: 1
    chipset: SK6812
    name: "My Light"


# This script sets the waiting time before going into sleep mode
# Once the delay time has passed, checks the status of the binary sensor mentioned above
# If the binary sensor status is "on", it disables deep sleep. Otherwise, it enters deep sleep for the set duration
script:
  - id: deep_sleep_evaluation
    mode: queued
    then:
      - delay: 60s
      - if:
          condition:
            binary_sensor.is_on: disable_deep_sleep
          then:
            - logger.log: 'Deep Sleep Disabled'
            - deep_sleep.prevent: deep_sleep_enabled
          else:
            - deep_sleep.enter: deep_sleep_enabled
      - script.execute: deep_sleep_evaluation

# # Here, the deep sleep duration is declared
deep_sleep:
  id: deep_sleep_enabled
  sleep_duration: 10min